#!/bin/sh

errorExit() {
    echo "*** $*" 1>&2
    exit 1
}

curl --silent --max-time 2 --insecure https://localhost:{{ k8s_master_port }}/ -o /dev/null || errorExit "Error GET https://localhost:{{ k8s_master_port }}/"
if ip addr | grep -q {{ k8s_master_vip }}; then
    curl --silent --max-time 2 --insecure https://{{ k8s_master_vip }}:{{ k8s_master_port }}/ -o /dev/null || errorExit "Error GET https://{{ k8s_master_vip }}:{{ k8s_master_port }}/"
fi
